<!DOCTYPE html>
<html>
<body>

<form action="/geocode/result" method="post" id="nameform">
Latitude:<br>
<input type="text" name="lat" value="10.762622">
<br>
Longitude:<br>
<input type="text" name="lng" value="106.660172">
</form>

<button type="submit" form="nameform" value="Submit">Submit</button>

</body>
</html>