<!DOCTYPE html>
<html>
<body>

<form action="">
Latitude1:<br>
<input type="text" name="lat1">
<br>
Longtitude1:<br>
<input type="text" name="lng1">
Latitude2:<br>
<br>
<input type="text" name="lat2">
<br>
Longtitude2:<br>
<input type="text" name="lng2">
</form>

</body>
</html>