<!DOCTYPE html>
<html>
<body>

<h1>Webservice</h1>

<a href="/geocode">Bai 1</a>
<a href="/api/distance?lat1=40.714224&lng1=-73.961452&lat2=40.714224&lng2=-79" >Bai 2</a>
<p> Thay đổi lat1, lng1, lat2, lng2 để tính khoảng cách!
</p>


</body>
</html>